<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<link href="style.css" rel="stylesheet">
		<title>Tic Tac Toe</title>
	</head>

<body ng-app='TicTacToe'>
	<div ng-controller="BoardCtrl">
		<h1>Tic-Tac-Toe</h1>
		<table id="board">
		  <tr ng-repeat="row in board">
		    <td ng-click="changeVal(cell)" ng-bind="cell.val" ng-repeat="cell in row">
		    </td>
		  </tr>
		</table>
		<h2 ng-hide="cat || winner"> <span>{{onX ? 'X' : 'O' }}</span>'s Turn</h2>
		<h2 ng-show="winner"> {{winner}} wins!</h2>
		<h2 ng-show="cat">Bummer! That's a Cat </h2>
		<button ng-click="reset()">Reset</button> 
		
	</div>
	<script src="app.js"></script>

</body>
<script>setTimeout(function(){ alert('Turn sound up for full effect!'); }, 500);</script>
</html>